<div class="row">
    <div class="col-sm-4">
        <form data-bind="submit: callApi">
            <h3>Invoke API</h3>
            <div class="form-group">
                <label>User</label>
                <input class="form-control" type="text" readonly data-bind="value: user" />
            </div>
            <div class="form-group">
                <label>Result</label>
                <input class="form-control" type="text" readonly data-bind="value: result" />
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-default">Call API</button>
            </div>
            <div class="form-group error-messages" data-bind="foreach: errors">
                <p data-bind="text: $data" />
            </div>
        </form>
    </div>
</div>